.cardp-grid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 5%;
}

.cardp {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  position: relative; /* Agrega posición relativa al contenedor */
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra la imagen vertical y horizontalmente */
}

.image-container img {
  width: 100%;
  max-height: 300px; /* Establece la altura máxima deseada */
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa todo el alto del contenedor */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
}

.text-overlay p {
  color: white;
  font-size: 18px;
  margin: 0;
}

.cardp:hover {
  transform: translateY(-5px);
}

@media (max-width: 767px) {
  .cardp-grid {
    grid-template-columns: repeat(1, 1fr); /* Cambia a una columna por fila en vista responsive */
  }
  
  .image-container img {
    width: 100%; /* Asegura que todas las imágenes tengan el mismo ancho */
    height: auto; /* Restaura la altura automática para mantener la proporción */
  }

  .cardp {
    border: none; /* Oculta el borde en la vista responsive */
  }

}
